body {
  background-color: #e3e3e3;
}

code, pre {
	font-family: 'Droid Sans Mono', Courier, monospace;
}

h1 {
  font-size: 84px;
  color: #333;
}

h2,p,a {
	font-size: 1.2em;
  font-family: "myriad-pro-1","myriad-pro-2";
}

#content, #header {
	margin: 0px auto;
	width: 860px;
}

div.syntaxHighlighter {
	padding: 15px; 
}
